:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	--nav_height: 32px;
	--red_hue: 0;
	--green_hue: 120;
	--blue_hue: 210;
	--bg_color: #fff;
	--plain_color: #ccc;
	--blue_color: hsl(var(--blue_hue), 50%, 50%);
	--green_color: hsl(var(--green_hue), 45%, 55%);
	--green_text_color: hsl(var(--green_hue), 40%, 40%);
	--interactive_color: #ddd;
	--interactive_hover_color: #eee;
	--interactive_disabled_color: #f7f7f7;
	--interactive_active_color: #fff;
	--font_weight_dk: 900;
	--font_weight_md: 700;
	--font_weight_rg: 500;
	--font_weight_lt: 300;
	--selected_color: var(--blue_color);
	--color_help: var(--green_color);
	--link_color_hue: var(--blue_hue);
	--link_color: hsl(var(--link_color_hue), 61%, 35%);
	--text_color: hsl(0, 10%, 16%);
	--text_disabled_color: hsl(0, 10%, 38%);
	--font_size_xl: 32px;
	--font_size_lg: 24px;
	--font_size_md: 20px;
	--font_size_rg: 16px;
	--spacing_xxxxxl: 128px;
	--spacing_xxxxl: 96px;
	--spacing_xxxl: 64px;
	--spacing_xxl: 48px;
	--spacing_xl: 32px;
	--spacing_lg: 20px;
	--spacing_md: 10px;
	--spacing_rg: 8px;
	--spacing_sm: 6px;
	--spacing_xs: 4px;
	--spacing_xxs: 2px;
	--faded_rg: 62%;
	--faded_md: 38%;
	--border_alert: var(--spacing_xs) dashed hsla(var(--red_hue), 100%, 50%, var(--faded_md));
	--border_help: var(--spacing_xs) dashed hsla(var(--green_hue), 100%, 25%, var(--faded_md));
	--border_plain: var(--spacing_xs) dashed hsla(0, 0%, 80%, var(--faded_md));
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--bg_color);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#svelte {
	height: 100%;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--link_color);
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: var(--green_text_color);
}

ul {
	display: flex;
	flex-direction: column;
}

li {
	list-style: none;
}

h1,
h2,
h3 {
	font-weight: 300;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	font-size: var(--font_size_md);
	border-width: var(--spacing_xxs);
	padding: var(--spacing_sm) var(--spacing_md);
	background: var(--interactive_color);
}
button:hover {
	background: var(--interactive_hover_color);
}
button:active {
	background: var(--interactive_active_color);
}
button[disabled],
input[disabled],
textarea[disabled] {
	opacity: 1; /* for some browsers */
	background: var(--interactive_disabled_color);
	color: var(--text_disabled_color);
}
button.selected {
	border-color: var(--selected_color);
	color: var(--selected_color);
}

input,
textarea {
	/* TODO */
	width: 400px;
	border-width: var(--spacing_xxs);
	font-size: var(--font_size_md);
	padding: var(--spacing_sm) var(--spacing_md);
}

input[type='checkbox'] {
	width: var(--spacing_xxl);
}

a:hover,
input:hover,
textarea:hover,
button:hover {
	/* otherwise the outline can get hidden by siblings */
	z-index: 1;
	outline: var(--spacing_rg) dotted var(--interactive_hover_color);
}

a:focus,
input:focus,
textarea:focus,
button:focus {
	/* otherwise the outline can get hidden by siblings */
	z-index: 1;
	outline: var(--spacing_rg) dotted var(--selected_color);
}

label {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--spacing_sm) var(--spacing_md);
}

blockquote {
	padding: var(--spacing_lg);
	border-left: var(--spacing_sm) solid var(--plain_color);
}
